<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Material Icons -->

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- CSS File -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Youtube</title>
  </head>
  <body class="upload">
    <div class="upload__container">
      <img src="../image/youtube.png" alt="youtube" />
      <div class="upload__links">
        <a href="/admin" class="upload__link">
          <i class="material-icons">arrow_back</i>
          <p>Back</p>
        </a>
        <a href="/" class="upload__link">
          <i class="material-icons">home</i>
          <p>Home Page</p>
        </a>
      </div>
      <form
        class="upload__form"
        action="/api/video/upload"
        method="POST"
        enctype="multipart/form-data"
      >
        <h1 class="upload__title">Upload</h1>
        <div class="upload-wrapper">
          <label>
            <i class="material-icons">cloud_upload</i>
            <input name="video" type="file" id="actual-btn" hidden />
          </label>
          <span id="file-chosen">No file chosen</span>
        </div>
        <label class="title-label">
          <p>Title:</p>
          <input
            name="title"
            type="text"
            placeholder="title..."
            required
            autocomplete="off"
          />
        </label>
        <button type="submit" class="upload_button">Upload</button>
      </form>
    </div>
    <script src="./js/upload.js"></script>
  </body>
</html>
